<tr>
   <td><%= task.name %></td>
   <td><%= task.due_date %></td>
   <td><%= link_to '完了', [ :finish, task ], :method => :put %></td>
   <td><%= link_to '検索結果を見る', [ :googleSearch, task ], :method => :put %></td>
</tr>

